@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Roboto, Inter, sans-serif;
}
.w-1440{
    width: 1440px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 132px;
    gap: 60px;
}
header ul{
    display: flex;
    gap: 60px;
}
header a{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*--------------------------section_cross_view----------------------------------*/
.cross_view{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #FBF6F3;
    height: 892px;
}
.cross_view img{
    margin-top: 67px;
}
.cross{
    display: flex;
    flex-direction: column;
    width: 336px;
    margin: 177px 0 0 46px;
}
.cross h2{
    color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.price{
    color: #AD0306;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 23px 0 52px 0;
}
.cross ul{
    display: flex;
    gap: 27px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
input[type="radio"] {
    display: none;
}
.cross label{
    cursor: pointer;
}
input[type="radio"]:checked + label{
    color: #B93536;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #A90102;
}
.text{
    color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 62px;
    width: 324px;
}
/*--------------------------section_product----------------------------------*/
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 1024px;
}
.wrapper_cards{
    display: flex;
    gap: 128px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    gap: 20px;
    border-radius: 32px;
    background: #FFF;
    box-shadow: 0 4px 20px 0 rgba(139, 139, 139, 0.10);
    position: relative;
}
.product h3{
    color: #142823;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 288px 0 39px 0;
}
.card h4{
    color: #282828;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.card p{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.red{
    color: #DD152D;
}
.blue{
    color: #106FDF;
}
.hr{
    position: absolute;
    top: -30px;
}